<%- include("../layouts/header.ejs") %>

<h1>Edit User</h1>


<form action="" method="post">
    <input type="name" name="name" placeholder="Enter Name" required>
    <br><br>
    <input type="email" name="email" placeholder="Enter Email" required>
    <br><br>
    <input type="text" name="mobile" placeholder="Enter Mobile No" required>
    <br><br>
    <label>Verified</label>
    <input type="radio" name="verify" value="1">
    <br><br>
    <label>Unverified</label>
    <input type="radio" name="verify" value="0">
    <br><br>
    <input type="submit" value="Update User">
</form>
<br>
<a href="/admin/">Go Dashboard</a>

<%- include("../layouts/footer.ejs") %>